body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    width: 150px;
    height: auto;
}

.container {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #ffcc00;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"] {
    width: calc(100% - 22px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ffcc00;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #ffdb4d;
}

/* Оверлей и результаты */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.progress-bar-container {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    background: #f2f2f2;
    overflow: hidden;
    margin: 0 auto;
}

.progress-bar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #ffcc00, #ffdb4d);
    animation: progress-animation 10s linear forwards;
}

.progress-bar:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    animation: move 10s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes progress-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes move {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.result-container {
    display: none;
    text-align: center;
}

.max-loan-amount {
    margin-bottom: 20px;
}

.approval-message {
    font-weight: bold;
}
