body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    width: 150px;
    height: auto;
}

.container {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #ffcc00;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"] {
    width: calc(100% - 22px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ffcc00;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #ffdb4d;
}

/* Добавляем анимацию для класса "loading" */
button[type="submit"].loading::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-top: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 4px;
    animation: spin 1s linear infinite;
}

.loading-message {
    margin-top: 20px;
    font-style: italic;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#progressBar {
    width: 100px;
    height: 100px;
    background-image: url('running_man.gif'); /* Подставьте ссылку на изображение бегущего человечка */
    background-size: cover;
}

#overlayText {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}
